body{
    background-color: black;
    margin: 5px 10%;
}

#wp{
    height: 1100px;
    width: 100%;
    background-color: whitesmoke;
}

#wp_header{
    height: 150px;
    width: 100%;
    background-color: whitesmoke;
}
#wp_header #logo1{
    float: left;
    height: 150px;
    width: 15%;
    background-color: #666666;
}
#wp_header #banner{
    float: left;
    height: 150px;
    width: 69.9%;
    background-color: #666666;
    margin-left: 0.1%;
}
#wp_header #logo2{
    float: left;
    height: 150px;
    width: 14.9%;
    background-color: #666666;
    margin-left: 0.1%;
}


#wp_manu{
    height: 48px;
    width: 100%;
    background-color: #333333;
    margin: 1px 0%;
}
#wp_manu ul{
    margin: 0px;
    padding: 0px;
}
#wp_manu ul li{
    float: left;
    list-style: none;
    background-color: #999999;
    color: white;
    font-weight: bold;
    padding: 14px 20px;
    margin: 0px 1px;
    
}

#wp_content{
    min-height: 870px;
    width: 100%;
    background-color: whitesmoke;
}
#wp_content #con_a{
    float: left;
    min-height: 870px;
    width: 24.9%;
    background-color: #666666;
    margin-right: 0.1%;
}
#wp_content #con_b{
    float: left;
    min-height: 870px;
    width: 75%;
    background-color: #666666;
}

#wp_footer{
    height: 28px;
    width: 100%;
    background-color: #999999;
    margin: 1px 0%;
}